<% content_for :title, "Editing set list" %>

<h1>Editing set list</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Show this list", @list %> |
  <%= link_to "Back to #{@list.band.name}", band_path(@list.band) %>
</div>
