
<%= render @song %>

<div class="setlist-footer-actions">
  <div class="setlist-actions">
    <%= link_to "All Songs", songs_path, class: "button" %>
  </div>

  <div class="setlist-actions setlist-actions--secondary">
    <%= link_to "Edit song", edit_song_path(@song), class: "button button--small" %>
    <%= button_to "Delete song", @song, method: :delete, class: "button button--small button--danger" %>
  </div>
</div>
