<p style="color: green"><%= notice %></p>

<%= render @band %>

<div class="setlist-footer-actions">
  <div class="setlist-actions">
    <%= link_to "Back to bands", bands_path, class: "button" %>
  </div>

  <div class="setlist-actions setlist-actions--secondary">
    <%= link_to "Edit this band", edit_band_path(@band), class: "button button--small" %>
  </div>
</div>
