<p style="color: green"><%= notice %></p>

<div>
  <h1>About setlist</h1>
  <p>This is tool to help amateur bands manage their set lists and improve song-to-song transitions.</p>
  <p>Source code and a project wiki are available on Github at <a href="https://github.com/Feltz-UD-EE/setlist" target="_blank">github.com/Feltz-UD-EE/setlist</a></p>
  <%= link_to "Home", public_home_path %>
</div>
