<p style="color: green"><%= notice %></p>

<div>
  <h1>Legal Information</h1>
  <p>Bands are responsible for appropriate licensing of their music; sheet music, lyrics, arrangements, and performance notes
      cannot be shared between bands.</p>
  <%= link_to "Home", public_home_path %>
</div>
